* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.comp {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #E3E1DF;
}

.cont {
	position: relative;
	bottom: 50px;
	width: 100%;
	max-width: 728px;
	margin: 0px auto;
}

.title{
	font-size: 18;
}

@media only screen and (max-width: 766px) {
	.comp {
		align-items: flex-start;
		justify-content: flex-start;
		background-color: #E3E1DF;
	}

	.cont {
		bottom: 0px;
		margin-top: 20px;
		padding: 0px 25px;
		align-self: flex-start;
	}

	.title{
		font-size: 14;
	}
	
}