@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.header {
    width: 100vw; 
    background-color: rgb(45, 209, 255);
    margin-bottom: 0px;
    height: auto;
    top:0;
    padding-top: 50px;
    padding-bottom: 114px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.42857;
    display: flex;
    flex: 1 1 0%
}
.header-data{
    width: 100%;
    max-width: 1044px;
    padding: 0px 32px;
    margin: 0px auto;
}

.span-input-field-from> * {
 width:100%;
}

.span-input-field-to> * {
    width:100%;
   }

.field-from-info > *{
    width:100%;
}

.field-date-info> *{
    width:100%;
}

.field-to-info > *{
    width:100%;
}

.field-psngrs-info>*{
    width: 100%;
}
.header-info{
    margin-top: 124px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row;
    place-content: stretch space-around;
    -webkit-box-align: start;
    align-items: start;
}

.header-info-title{
    display: block;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
    padding-bottom: 20px;
}

.redirection-info-title{
    display: block;
    color: rgb(5, 71, 82);
    font-size: 38px;
    font-weight: 1000;
    line-height: 1.42857;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.redirection-info-subtitle{
    display: block;
    color: rgb(5, 71, 82);
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
}

.redirection-logo{
    display: block;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
}

a {
    color: #f9253f;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.ticket-form{
    position: relative;
    display: flex;
    padding-right: 1px;
    padding-left: 1px;
}

.field-from{
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.field-psngrs{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.field-to,
.field-date,
.field-psngrs,
.field-from{
    position: relative;
    flex: 1 1 100%;
    margin-right: -1px;
    margin-left: -1px;
}

.field-from-v1,
.field-to-v1,
.field-date-v1{
    position: relative;
}

.field-from-info,
.field-to-info,
.field-date-info,
.field-psngrs-info{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 56px;
    font-size: 16px;
    max-width: auto;
    cursor: text;
    transition: all 0.15s ease-in-out 0s;
}

.field-to-info-label,
.field-from-info-label,
.field-date-info-label,
.field-psngrs-info-label{
    position: absolute;
    left: 12px;
    z-index: 1;
    max-width: auto;
    margin: 0px;
    overflow-x: hidden;
    font-size: 16px;
    color: rgb(180, 171, 171);
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.15s ease-in-out 0s;
    transform: translateY(20px);
}

.span-input-field-from input{
    border-bottom-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    min-height: 60px;
    padding: 26px 30px 10px 12px;
    font-size: 16px;
    text-overflow: ellipsis;
    background-color: white;
    border: 1px solid rgb(233, 233, 233);
    border-radius: initial;
    outline: none;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
    flex: 1 1 100% !important;
}

.span-input-field-to input,
.span-input-field-date input,
.span-input-field-psngrs input{
    min-height: 60px;
    padding: 26px 30px 10px 12px;
    font-size: 16px;
    text-overflow: ellipsis;
    background-color: white;
    border: 1px solid rgb(233, 233, 233);
    border-radius: initial;
    outline: none;
    flex: 1 1 100% !important;
}

.span-input-field-psngrs input{
    max-width: auto;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calendar-icon,
.psngrs-i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
.button-switch{
    position: absolute;
    top: calc(50% - 8px);
    right: 13px;
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    transition: transform 150ms ease 0ms;
    transform: scaleX(-1);
}



.field-date-info-label,
.field-psngrs-info-label{
    color: rgb(180, 171, 171);
    font-size: 10px;
    transform: translateY(10px);
}

.overlay{
    position: absolute;
    bottom: -30px;
    left: 0px;
    padding-bottom: 5px;
    margin-left: 3.5px;
    color: white;
    white-space: nowrap;
}

.buttom-tommorow,
.button-tommorowX2,
.button-all-days{
    padding: 0px;
    margin: 0px 2.5px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px dashed white;
    background: none;
    white-space: nowrap;
    color:white ;
}

.label-for-psngrs{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 34px;
    font-size: 16px;
    pointer-events: none;
}



.psngrs-i{
    display: inline-block;
    line-height: normal;
}

.btn-search{
    display: flex;
    min-height: 60px;
    margin-left: 10px;
    position: relative;
    flex: 1 1 100%;
    margin-right: -1px;
}

.button-to-search{
    display: inline-block;
    width: auto;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 0px;
    outline: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(249, 37, 63);
    position: relative;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    padding: 13px 30px;
    border-radius: 4px;
    line-height: 20px;
    transition: all 0.28s ease-in-out 0s;
    will-change: transform;
    flex: 1 1 0%;
    min-height: 60px;
    font-size: 16px;
}



@media only screen and (max-width: 766px) {
.header-data{
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left:  12px;
    padding-right:  16px;
}
.header-info{
    margin-top: 20px;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
}
.redirection-info-subtitle{
    font-size: 16px;
}

.ticket-form{
    flex-wrap: wrap;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 1px;
    
}
.field-from,
.field-to{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -1px;
    position: relative;
    flex: 1 1 100%;
}

.field-date{
    margin-right: -1px;
    margin-left: 0px;
    margin-top: -1px;
    flex: 1 1 50%;
    position: relative;
    border-bottom-left-radius: 4px;
}

.field-from-v1{
    position:unset;
}

.button-switch{
    top: calc(100% - 25px);
    width: 50px;
    height: 50px;
    right: 1px;
    background: white;
    border-radius: 50%;
    transform: rotate(90deg) scaleX(-1)
}

.field-psngrs{
    margin-right: -1px;
    margin-left: 0px;
    margin-top: -1px;
    flex: 1 1 50%;
    position: relative;
    border-bottom-right-radius: 4px;
}

.btn-search{
    margin-left: 0px;
    margin-top: 12px;
}

.overlay{
    display:none;
}

.field-to-info{
    display: flex;
}

.span-input-field-to{
    display: flex;
}

.span-input-field-date{
    display: flex;
}

.span-input-field-psngrs{
    display: flex;
}

.header{
    padding-bottom: 77px;
}






}