.u-p-c{
 padding-top: 80px;
 width: 100%;

}

.auth__plus{
        pointer-events: none;
}

.gZdraz {
  display: flex;
  -webkit-box-pack: justify;
   justify-content: space-between;
}

.euUqMb {
        width: 48%;
        height: auto;
        padding: 24px 24px 9px;
        margin-top: 0px;
        background-color: white;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.hTeUZH {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        color: black;
}

.m-verify-panel__form-label {
        margin-top: 0;
        margin-bottom: 8px;
        color: #a7a7a7;
        text-transform: none;
        font-weight: 400;
        font-size: 14px;
}

.form-group {
        position: relative;
        margin-bottom: 15px;
}

.form-control[disabled]{
   background: inherit;
    opacity: .5 !important;
    cursor: not-allowed;
    background-color: #fff !important;
    color: #a7a7a7;
}

.form-control{
   position: relative;
   padding: 11px 15px;
   text-overflow: ellipsis;
   border-radius: 6px;
   box-shadow: none;
}

.auth__input, .dropdown-menu--autocomplete__input, .form-control, .number-select {
        display: block;
        width: 100%;
        height: 46px;
        padding: 11px 12px;
        font-size: 14px;
        line-height: 1.42857;
        color: #424543;
        background-color: #fff;
        background-image: none;
        border: 1px solid #d2d2d2;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
        -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}



.form-control input[type="text"]{
        background-color: #fff;
        color: #a7a7a7;
}

.NpPKm input {
        font-size: 16px;
}

.gegDgZ {
        display: flex;
        margin-top: 20px;
        margin-bottom: 9px;
        color: rgb(249, 37, 63);
        cursor: pointer;
}

.pRYsx {
        margin-top: 2px;
}

.ejhQPT {
        margin-left: 8px;
        font-size: 16px;
}

.NpPKm {
        width: 48%;
        height: auto;
        padding: 24px 24px 9px;
        margin-top: 0px;
        background-color: white;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    }

input:not([type=checkbox]):not([type=radio]), textarea {
 -webkit-appearance: none;
}

.auth__input {
        padding: 0 0 0 26px;
}

.auth__input[disabled],
.auth__plus {
        color: #a7a7a7;
}

.auth__plus {
        position: absolute;
        top: 13px;
        left: 16px;
        z-index: 10;
        font-size: 16px;
}

.fYCmnt {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 9px;
}

.fMPFug {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;
        cursor: pointer;
        color: black;
}

.iYRtyu {
        padding-right: 16px;
        padding-left: 16px;
        font-size: 16px;
        cursor: pointer;
        color: rgb(249, 37, 63);
}
.form-group{
        padding-bottom: 8px;
}

.has-error{
    border-color: #a94442 !important;
}

.form-group .control-label {
        position: absolute;
        margin-top: 2px;
        
        font-size: 12px;
        text-transform: none;
        color:  #a94442;
}

.gWeyqy {
        margin-top: 40px;
        margin-bottom: 12px;
        font-size: 28px;
}

.euUqMb input {
        font-size: 16px;
    }

@media only screen and (max-width: 766px) {
        .grid-cont{
            padding: 0px 12px;
        }
        .tab-list{
            margin: 0;
        }
        
        .eXYpNB {
            margin-right: 0px;
            margin-left: 0px;
            padding-right: 10px;
            padding-left: 10px;
        }
        
        .u-p-c{
            padding-top: 55px;
            width: 100%;
        }

        .gZdraz {
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
        }

        .euUqMb {
                padding: 16px;
                margin-bottom: 12px;
                width: 100%;
        }
        
        .gegDgZ {
                -webkit-box-pack: center;
                justify-content: center;
                margin-bottom: 1px;
        }

        .NpPKm {
                padding: 16px 16px 1px;
                margin-bottom: 5px;
                width: 100%;
            
        }

        .gWeyqy {
                margin-top: 20px;
                font-size: 18px;
        }
       
}